{% load i18n cache staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

        <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_head %}{% endblock %}
        {% block customer_head %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-static-top " style="margin: -1px -1px 0;">
            <div class="navbar-inner">
                <div class="container">

                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="container main-container">
            <div class="row">
                <div class="span12" style="margin-top: 30px">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <form class="my_form" action="{% url 'process_data' %}" method="POST">
            {% csrf_token %}
            <input id="id_new_value" style="display: none" name="new_value" value="">
        </form>
    </body>
</html>
