{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/my_app.js' %}"></script>
{% endblock %}
{% block content %}
<div class="span2">
    <h4>
        <ul>
            {% for table in object_list %}
            <li><a hreg="#" onclick=" return get_table_info('{{table.name}}')">{{table.verbose_name}}</a></li>
            {% endfor %}
        </ul>
    </h4>
</div>
<div class="span8" style="margin-left: 30px">
<div class="span8 main_data"></div>
<div class="span6 new_entry"></div>
</div>
{% endblock content %}
